.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

.footer {
  display: flex;
  width: 100%;
  height: 347px;
  justify-content: space-around;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  gap: 21px;
}

.footer__nav {
  display: flex;
  font-size: 12px;
  gap: 55px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  width: 233px;
  height: 65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-copyright {
  color: #7C7C7C;
  display: block;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  min-width: 170px;
  height: 45px;
}

.footer-icons a {
  display: block;
  height: 100%; 
}

.icon-instagram {
  width: 37.5px;
  height: 37.5px;
  background-image: url('tech/instagram.png');
  background-size: 100%;
}

.icon-twitter {
  width: 39.22px;
  height: 31.88px;
  background-image: url('tech/twitter.png');
  background-size: 100%;
}

.icon-facebook {
  width: 37.6px;
  height: 37.36px;
  background-image: url('tech/facebook.png');
  background-size: 100%;
}

.footer__nav a {
  text-decoration: none;
  color: black;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  gap: 15px;
}

.footer-menu__title_bold {
  font-weight: bold;
}

.foooter-menu__list  {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: inherit;
}

@media screen and (max-width:769px) {
  .footer__info {
    font-size: 8px;
    gap: 16px;
  }

  .footer__nav {
    font-size: 8px;
  }

  .footer-logo {
    width: 140px;
    height: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .footer-icons {
    display: flex;
    justify-content: space-between;
    min-width: 94px;
    height: 28px;
  }

  .icon-instagram {
    width: 27px;
    height: 27px;
  }

  .icon-twitter {
    width: 25px;
    height: 20px;
  }

  .icon-facebook {
    width: 27px;
    height: 27px;
  }

  .footer-menu {
    min-height: 110px;
    gap: 10px;
  }

  .foooter-menu__list  {
    gap: 10px;
  }

@media screen and (max-width:480px) {
  .footer__info {
    font-size: 6px;
    gap: 16px;
  }

  .footer__nav {
    font-size: 6px;
    gap: 30px;
  }

  .footer-logo {
    width: 112px;
    height: 32px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .footer-menu {
    min-height: 95px;
    gap: 9px;
  }

  .foooter-menu__list  {
    gap: 9px;
  }

@media screen and (max-width:320px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .logo {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 20px 0px 12px 0px;
  }

  .footer-menu {
    min-height: 70px;
    gap: 7px;
  }

  .foooter-menu__list  {
    gap: 7px;
  }
}