.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

.heading1 {
  font-weight: bold;
  font-size: 22px;
}

.heading2 {
  font-weight: bold;
  font-size: 20px;
}

.heading3 {
  font-weight: bold;
  font-size: 18px;
}

.heading4 {
  font-size: 16px;
}

.heading5 {
  font-size: 14px;
}

.color-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.color-card__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.color-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer{
  min-height: 347px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__leftPart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 21px;
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social{
  display: flex;
  gap: 17px;
}
.social__item{
  cursor: pointer;
}
.copyright {
  font-size: 12px;
  color: #7C7C7C;
}
.footer__rightPart{
  display: flex;
  gap: 57px;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-menu__item{
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.footer-menu__item_bold{
  font-weight: bold;
}