.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}

.footer {
  display: flex;
  min-height: 347px;
  justify-content: space-around;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  gap: 21px;
}

.footer__nav {
  display: flex;
  font-size: 12px;
  gap: 55px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  width: 233px;
  height: 65px;
}

.footer-copyright {
  color: #7C7C7C;
  display: block;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
 
.icon {
  display: block;
  width: 37.5px;
  height: 37.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon a {
  display: block;
  height: 100%;
}

.icon_instagram {
  background-image: url("tech/instagram.png");
}

.icon_twitter {
  background-image: url("tech/twitter.png");
}

.icon_facebook {
  background-image: url("tech/facebook.png");
}

.footer-menu a {
  text-decoration: none;
  color: black;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  min-height: 160px;
  gap: 15px;
}

.footer-menu__title_bold {
  font-weight: bold;
}

.footer-menu__item  {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width:769px) {
  .footer__info {
    font-size: 8px;
    gap: 16px;
  }

  .footer__nav {
    font-size: 8px;
  }

  .footer-logo {
    width: 140px;
    height: 40px;
  }

  .footer-icons {
   gap: 10px;
  }

  .icon {
    width: 27.5px;
    height: 27.5px;
  }

  .footer-menu {
    min-height: 110px;
    gap: 11px;
  }

  .footer-menu__item  {
    gap: 11px;
  }
}

@media screen and (max-width:480px) {
  .footer__info {
    font-size: 6px;
    gap: 12px;
  }

  .footer__nav {
    font-size: 6px;
    gap: 30px;
  }

  .footer-logo {
    width: 112px;
    height: 32px;
  }

  .footer-icons {
    gap: 8px;
   }
 
  .icon {
     width: 20.5px;
     height: 20.5px;
   }

  .footer-menu {
    min-height: 82px;
    gap: 8px;
  }

  .footer-menu__item  {
    gap: 8px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__nav {
    font-size: 6px;
    gap: 20px;
  }

  .footer-menu {
    min-height: 70px;
    gap: 7px;
  }

  .footer-menu__item  {
    gap: 7px;
  }
}