.button{
  padding:5px 15px;
  border:1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full{
  display: block;
}


.client-address{
  display: grid;
  grid-template-areas:
    "u i"
    "c c";
}

.client-address__user-name{
  grid-area: u;
  font-weight: 500;
  height: 30px;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.client-address__icon{
  grid-area: i;
  display: flex;
  justify-content: flex-end;
}
.kebab-icon{
  max-width: 18px;
  height: 12px;
  display: flex;
  justify-content: flex-end;
}
.client-address__content{
  grid-area: c;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.address{}
.phone{}

.common-table__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #5B5B5B;
  word-break: break-word;
}

.title__order-number {
  width: 25%;
  text-align: left;
  padding-left: 18px;
}

.title__order-address {
  width: 65%;
  text-align: left;
  margin-left: 10px;
}

.title__order-date {
  width: 10%;
  text-align: left;
  margin-left: 5px;
  padding-right: 10px;
}

.common-table__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.common-table__list {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 9px 0;
  border-radius: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  word-break: break-word;
}

.list__order-number {
  width: 25%;
  text-align: left;
  padding-left: 18px;
}

.list__order-address {
  width: 65%;
  text-align: left;
  margin-left: 10px;
}

.list__order-date {
  width: 10%;
  text-align: left;
  margin-left: 5px;
  padding-right: 10px;
}

@media (max-width: 480px) {
  .list__order-address {
    width: 60%;
  }

  .list__order-date {
    width: 15%;
  }

  .title__order-address {
    width: 60%;
  }

  .title__order-date {
    width: 15%;
  }
}

@media (max-width: 320px) {
  .list__order-address {
    width: 55%;
  }

  .list__order-date {
    width: 20%;
  }

  .title__order-address {
    width: 55%;
  }

  .title__order-date {
    width: 20%;
  }
}
.form-input{
position: relative;
}
.input-text{
  height:28px;
  width: 99%;
  background-color: #DBDBDB;
  border: none;
  padding-left: 1%;
  caret-color: #00A3FF;
}

.input-text:focus{
  background-color: white;
  outline-color: #DBDBDB;
}
.input-text_full{
  border-radius: 20px;
}
.input-text_right{
  border-radius: 0 20px 20px 0;
}
.input-text_left{
  border-radius: 20px 0 0 20px;
}
.form-input_big{
  position: relative;
}

.input-text_big{
  height: 35px;
  border:1px solid #DBDBDB;
  background-color: white;
}
.input-text-icon{
  border: solid red 1px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ec1d24;
  position: absolute;
  top: -3px;
  right: -4px;
}
.input-text-img{
  position:absolute;
  top: 12px;
  right: 10px;
}
