.button {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  background: aliceblue;
  display: inline-block;
  text-align: center;
  min-width: 150px;
}

.button--full {
  display: block;
}

.color-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.color-card__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.color-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
