.tech__header {
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 999999;
  margin-bottom: 20px;
}

.tech {
  display: flex;
  margin: 15px;
}

.techBlock {
  padding: 10px;
  margin: 10px;
  border: 1px dashed black;
}

.techBlock__row {
  display: flex;
}

.tech__full {}

.tech__half {
  width: 50%
}

.tech__320 {
  width: 320px;
}

.tech__480 {
  width: 480px;
}

.tech__769 {
  width: 769px;
}

.tech__1280 {
  width: 1280px;
}

.tech__1024 {
  width: 1024px;
}

.techBlock__mobile iframe {
  width: 100%;
  height: 400px;
}

.container {
  background: #ffffff;
  ;
  border: 1px solid;
  margin: 2px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 347px;
}

.footer__info {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 180px;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #C4C4C4;
  width: 233px;
  height: 65px;
  margin: 89px 0px 22px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__title {
  text-align: center;
  margin: 19px 84px 18px 76px;
  padding: 5px 10px;
  width: 53px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  color: #7C7C7C;
  font-size: 12px;
  display: block;
  margin-bottom: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 45px;
}

.instagram {
  margin: 3.75px;
  width: 37.5px;
  height: 37.5px;
  background-image: url('instagram.png');
  background-size: 100%;
}

.instagram__link {
  display: block;
  height: 100%;
}

.twitter {
  margin: 7.5px 2.89px 5.62px 2.89px;
  width: 39.22px;
  height: 31.88px;
  background-image: url('twitter.png');
  background-size: 100%;
}

.twitter__link {
  display: block;
  height: 100%;
}

.facebook {
  margin: 3.82px 3.75px;
  width: 37.6px;
  height: 37.36px;
  background-image: url('facebook.png');
  background-size: 100%;
}

.facebook__link {
  display: block;
  height: 100%;
}

.footer__nav {
  flex: 50%;
  display: flex;
  margin-right: 180px;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 89px;
  margin-bottom: 13px;
  margin-right: 55px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 52px;
  height: 70px;
  margin-right: 55px;
}

.menu__list a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company {
  display: flex;
  flex-direction: column;
}

.company__title {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 89px;
  margin-bottom: 13px;
  margin-right: 55px;
}

.company__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62px;
  height: 70px;
  margin-right: 55px;
}

.company__list a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.support {
  display: flex;
  flex-direction: column;
}

.support__title {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 89px;
  margin-bottom: 13px;
}

.support__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.support__list a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:1024px) {
  .footer__info {
    margin-left: 100px;
  }

  .footer__nav {
    margin-right: 100px;
  }
}

@media screen and (max-width:768px) {
  .footer__info {
    margin-left: 80px;
  }

  .logo {
    width: 180px;
    height: 54px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }

  .logo__title {
    margin: 15px 74px 14px 74px;
    padding: 3px 8px;
    width: 53px;
    height: 18px;
  }

  .content {
    font-size: 10px;
    display: block;
    margin-bottom: 22px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 40px;
  }

  .instagram {
    margin: 2.75px;
    width: 33.5px;
    height: 33.5px;
  }

  .twitter {
    margin: 6.55px 2px 5.7px 2px;
    width: 34.22px;
    height: 27.5px;
  }

  .facebook {
    margin: 3.82px 3.75px;
    width: 33.6px;
    height: 33.36px;
  }

  .footer__nav {
    margin-right: 80px;
  }

  .menu__title {
    margin-right: 30px;
    margin-left: 25px;
  }

  .menu__list {
    margin-right: 30px;
    margin-left: 25px;
    width: 42px;
  }

  .company__title {
    margin-right: 30px;
  }

  .company__list {
    width: 52px;
    margin-right: 30px;
  }

  .support__list {
    margin-left: auto;
  }
}

@media screen and (max-width:480px) {
  .footer__info {
    margin-left: 30px;
    flex: 40%;
  }

  .logo {
    width: 108px;
    height: 32.4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 79px 0px 12px 0px;
  }

  .logo__title {
    margin: 9px 44px 8px 44px;
    padding: 1.5px 4px;
    width: 32px;
    height: 11px;
    font-size: 10px;
  }

  .content {
    font-size: 6px;
    display: block;
    margin-bottom: 12px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 94px;
    height: 28px;
  }

  .instagram {
    margin: 1px;
    width: 27px;
    height: 27px;
  }

  .twitter {
    margin: 2.8px 0.5px 3px 0.5px;
    width: 25px;
    height: 20px;
  }

  .facebook {
    margin: 2px 2.5px;
    width: 27px;
    height: 27px;
  }

  .footer__nav {
    margin-right: 30px;
    flex: 60%;
  }

  .menu__title {
    font-size: 8px;
    margin-bottom: 13px;
    margin-right: 8px;
    margin-bottom: 7px;
    margin-top: 79px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 42px;
    height: 70px;
    margin-right: 8px;
  }

  .menu__list a {
    font-size: 8px;
  }

  .company__title {
    font-size: 8px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-top: 79px;
  }

  .company__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 42px;
    height: 70px;
    margin-right: 10px;
  }

  .company__list a {
    font-size: 8px;
  }

  .support__title {
    font-size: 8px;
    margin-bottom: 7px;
    margin-top: 79px;
  }

  .support__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .support__list a {
    font-size: 8px;
  }
}